@page "{handler?}/{orderId?}"
@model Shopping.Razor.Pages.Orders.UserOrdersModel
@{
    ViewData["Title"] = "User orders";
}

<h2>Your orders</h2>
<h4>Here is an overview of your orders</h4>

<table class="table">
    <thead>
        <tr class="columnHeader">
            <th>ORDER NUMBER</th>
            <th>STREET ADDRESS</th>
            <th>ORDER DATE</th>
            <th>TOTAL</th>
            <th>STATUS</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@order.OrderId</td>
                <td class="bold">@order.Street</td>
                <td>@order.OrderDate.ToShortDateString()</td>
                <td class="bold">$@order.TotalPrice</td>
                <td id="@($"{order.OrderId}_orderStatus")" class="bold">@order.OrderStatus</td>
                <td>
                    <a asp-page="/Orders/OrderDetails" asp-route-orderId="@order.OrderId">ORDER DETAILS</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/order/orderStatusUpdater.js"></script>