@page
@model Shopping.MVC.Pages.UserDetails.UserShoppingDetailsModel
@{
    ViewData["Title"] = "User shopping details";
}

<h2>Hey @Model.UserShoppingDetails.BasketWithProducts.UserName</h2>
<br />
<br />
<h2>Basket Items</h2>
<div>
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th>
                    Product Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Color
                </th>
                <th>
                    Price
                </th>
                <th>
                    Discount
                </th>
                <th>
                    Price with discount
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserShoppingDetails.BasketWithProducts.Items)
            {
                <tr>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.Color
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.Discount
                    </td>
                    <td>
                        @item.PriceWithDiscount
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <h3>Total price: @Model.UserShoppingDetails.BasketWithProducts.TotalPrice</h3>
</div>
<br />
<br />
<h2>ORDERS</h2>
<table class="table">
    <thead>
        <tr class="columnHeader">
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>ADDRESS</th>
            <th>ORDER PLACED</th>
            <th>TOTAL</th>
            <th>PAID?</th>
            <th>EMAIL</th>
            <th>CARD NUMBER</th>
            <th>STATUS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.UserShoppingDetails.Orders)
        {
            <tr>
                <td>@order.FirstName</td>
                <td>@order.LastName</td>
                <td class="bold">@order.Address</td>
                <td>@order.OrderPlaced.ToShortDateString()</td>
                <td class="bold">$@order.TotalPrice</td>
                <td class="bold">@order.OrderPaid</td>
                <td class="bold">@order.Email</td>
                <td class="bold">@order.CardNumber</td>
                <td class="bold">@order.OrderStatus</td>
            </tr>
        }
    </tbody>
</table>
