@page
@model Shopping.Razor.Pages.Catalog.CatalogItemModel
@{
    ViewData["Title"] = "Catalog item";
}

<div>
    <span>@Model.CatalogItem.Name</span>
</div>
<div>
    <span>@Model.CatalogItem.Category</span>
</div>
<div>
    <span>@Model.CatalogItem.Description</span>
</div>
<div>
    <span>@Model.CatalogItem.Price.ToString("N2")</span>
</div>
<div>
    <span>@Model.CatalogItem.Quantity</span>
</div>
<div>
    <span>@Model.CatalogItem.Summary</span>
</div>
<input type="hidden" asp-for="@Model.CatalogItem.Id" name="id" />
